langchain_core 
langchain_openai 
langchain_groq 
langchain_google_genai 
streamlit
transformers
langchain_community
cohere
beautifulsoup4
langchain
langchain_chroma
langchain_text_splitters
pydantic
langchain_cohere
streamlit_extras
nltk
openai
pypdf
pysqlite3-binary
chromadb
