langchain_core 
langchain_openai 
langchain_groq 
langchain_google_genai 
transformers
langchain_community
cohere
beautifulsoup4
langchain
langchain_chroma
langchain_text_splitters
pydantic
langchain_cohere
streamlit_extras
nltk
openai
pypdf
pysqlite3-binary
groq==0.3.0
chromadb==0.4.22
langchain==0.1.12
python-dotenv==1.0.0
pypdf==4.1.0
streamlit==1.29.0
